.MMM-Traffic:nth-last-child(4) {
  margin-bottom: 0px;
}

.symbol {
  margin-right: 15px;
}

.fa-car {
  font-size: 25px !important;
}

.trafficInfo {
  font-size: 20px;
}

.trafficRoute {
  font-size: 16px;
}

.green {
  color: #83FFB3;
}

.yellow {
  color: yellow;
}

.red {
  color: #FF4C4C;
}
